/* Standard CSS */

:root {
    --primary: #F4DFBA;
    --secondary: #EEC373;
    --accent: #876445;
    --lt_grey: rgb(235, 235, 235);
}

body {
    background: #FFF !important;
}

.full {
    min-height: 100vh;
}

.threequarters {
    min-height: 75vh;
}

.twothirds {
    min-height: 66vh;
}

.half {
    min-height: 50vh;
}

.third {
    min-height: 33vh;
}

.quarter {
    min-height: 25vh;
}

.accent1 {
    color: var(--secondary);
}

.accent2 {
    color: var(--accent);
}

.grey-back {
    background-color: rgb(245, 245, 245);
}

.stroke {
    text-shadow: 1px 0 0 black,
                 0 1px 0 black,
                 -1px 0 0 black,
                 0 -1px 0 black;
}

/* Home Page */

#hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/reno-space.webp);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#hero-cta {
    background-color: var(--secondary);
}

#hero-number {
    background-color: white;
    color: var(--accent);
}

#what-we-do {
    background-color: var(--lt_grey);
    padding: 3em 3em 3em 3em;
}

.feature {
    position: relative;
}

.feature:before {
    content:'';
    position: absolute;
    width: 3em;
    height: 3em;
    margin: auto;
    z-index: -1;
    border: 10px solid rgba(235, 235, 235, .8);
    top: -1em;
    left: 0;
}

.feat-link {
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

.feat-link:hover {
    color: var(--secondary);
}

.gallery-img-1 {
    background-image: url(../assets/gallery1.webp);
    background-size: cover;
}

.gallery-img-2 {
    background-image: url(../assets/gallery2.webp);
    background-size: cover;
}

.gallery-img-3 {
    background-image: url(../assets/gallery3.webp);
    background-size: cover;
}

.gallery-img-4 {
    background-image: url(../assets/gallery4.webp);
    background-size: cover;
}

.gallery-img-5 {
    background-image: url(../assets/gallery5.webp);
    background-size: cover;
}

#cta-row {
    background-color: var(--accent);
    color: white;
}

#footer {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/footer.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.footer-form {
    border: 2px solid white;
    background: none !important;
    color: white !important;
}

.footer-btn {
    border: 2px solid white;
    background: none !important;
    color: white !important;
}

.footer-btn:hover {
    color: var(--secondary) !important;
    border: 2px solid var(--secondary) !important;
}

/* About Page */

#about-hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/team.webp);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
}

#about-list {
    background-color: var(--secondary);
}

#about-list ul {
    list-style-type: none;
}

#about-list ul li:before {
    content: "\2713\0020";
}

#stats {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/sawing.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100) !important;
    height: 2rem !important;
    width: 2rem !important;
}

/* Services Page */

#service-hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/tools.webp);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
}

.feature2 {
    position: relative;
}

.feature2:before {
    content:'';
    position: absolute;
    width: 4em;
    height: 4em;
    margin: auto;
    z-index: -1;
    border: 12px solid rgba(235, 235, 235, .8);
    top: -1.5em;
    left: 0;
}

.quote-btn {
    padding: 1em;
    color: white;
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    text-shadow: 1px 0 0 black,
                 0 1px 0 black,
                 -1px 0 0 black,
                 0 -1px 0 black;
}

.quote-btn:hover {
    background-color: white;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    text-shadow: none;
}

.img-panel-1 {
    background-image: url(../assets/gallery5.webp);
    background-size: cover;
    aspect-ratio: 1;
}

.img-panel-2 {
    background-image: url(../assets/gallery4.webp);
    background-size: cover;
    aspect-ratio: 1;
}

.img-panel-3 {
    background-image: url(../assets/gallery3.webp);
    background-size: cover;
    aspect-ratio: 1;
}

.img-panel-4 {
    background-image: url(../assets/gallery2.webp);
    background-size: cover;
    aspect-ratio: 1;
}

/* Gallery Page */

#gallery-hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/houses.webp);
    background-size: cover;
    background-position: center center;
}

.feature3 {
    position: relative;
}

.feature3:before {
    content:'';
    position: absolute;
    width: 3em;
    height: 3em;
    margin: auto;
    z-index: 0;
    border: 10px solid rgba(135, 100, 69, .3);
    top: -1em;
    left: -1em;
}

/* Contact Page */

.info-icon {
    filter: invert(100%);
    width: 2em;
    height: 2em;
    position: absolute;
    left: -0.25em;
}

.icon-img {
    filter: invert(100%);
    background: #113c8c !important;
    width: 2.7em;
    height: 2.7em;
    padding: 0.5em;
    margin: 0 .25em 0 .25em;
}

.icon-img:hover {
    background: #1e57c1 !important;
}

/* Turn off parallax on mobile */

@media screen and (max-width: 1200px) {
    #hero {
        background-position: bottom right;
        background-attachment: scroll;
    }

    #footer {
        background-attachment: scroll;
    }

    #about-hero {
        background-attachment: scroll;
    }

    #stats {
        background-attachment: scroll;
    }

    #service-hero {
        background-attachment: scroll;
    }
}